In [ ]:
# STOCK PREDICTION Program! This program predicts stock programs with ML Models! NEAT!

In [ ]:
# Install dependencies
import quandl
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.model_selection import train_test_split

In [ ]:
# Get Stock data
df = quandl.get('WIKI/AAPL', authtoken='YCxpx7y7x4tXxBAcixZ8')
df.tail(10)

              Open    High       Low  ...  Adj. Low  Adj. Close  Adj. Volume
Date                                  ...
2018-03-14  180.32  180.52  177.8100  ...  177.8100     178.440   29075469.0
2018-03-15  178.50  180.24  178.0701  ...  178.0701     178.650   22584565.0
2018-03-16  178.65  179.12  177.6200  ...  177.6200     178.020   36836456.0
2018-03-19  177.32  177.47  173.6600  ...  173.6600     175.300   32804695.0
2018-03-20  175.24  176.80  174.9400  ...  174.9400     175.240   19314039.0
2018-03-21  175.04  175.09  171.2600  ...  171.2600     171.270   35247358.0
2018-03-22  170.00  172.68  168.6000  ...  168.6000     168.845   41051076.0
2018-03-23  168.39  169.92  164.9400  ...  164.9400     164.940   40248954.0
2018-03-26  168.07  173.10  166.4400  ...  166.4400     172.770   36272617.0
2018-03-27  173.68  175.15  166.9200  ...  166.9200     168.340   38962839.0

[10 rows x 12 columns]

In [ ]:
# get the Adjusted Close Price
df = df[['Adj. Close']]
print(df.head())

            Adj. Close
Date
1980-12-12    0.422706
1980-12-15    0.400652
1980-12-16    0.371246
1980-12-17    0.380362
1980-12-18    0.391536

In [ ]:
# variable for predicting "d" days out into the future
forecast_out = 1
# Create another column (target) dependent variable, shifted in "d" units up
df['Prediction'] = df[['Adj. Close']].shift(-1)
print(df.tail())

            Adj. Close  Prediction
Date
2018-03-21     171.270     168.845
2018-03-22     168.845     164.940
2018-03-23     164.940     172.770
2018-03-26     172.770     168.340
2018-03-27     168.340         NaN

In [ ]:
# Create the independent data set x and convert the datarame into a nump array
X = np.array(df.drop(['Prediction'],1))
# remove the "d" rows
X = X[:-forecast_out]
print(X)

[[  0.42270592]
 [  0.40065169]
 [  0.37124607]
 ...
 [168.845     ]
 [164.94      ]
 [172.77      ]]

In [ ]:
# Create the dependent data y
# convert the dataframe to a numpy array ( all of the values includin the NANs)
y = np.array(df['Prediction'])
# get all of the y values expect the last"d" rows
y = y [:-forecast_out]
print(y)

[  0.40065169   0.37124607   0.38036181 ... 164.94       172.77
 168.34      ]

In [ ]:
# Split the data into training and testing data (80:20)
x_train, x_test, y_train, y_test = train_test_split(X,y, test_size=.02)

In [ ]:
# Create and train the Support Vector Machine (Regressor) -  a subervised learning regression problem
svr_rbf = SVR(kernel='rbf', C=1e3, gamma=0.1)
svr_rbf.fit(x_train, y_train)

SVR(C=1000.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma=0.1,
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [ ]:
#Testing Model: Score that returen s a coefficeient of determination R^2 of the prediction, note the best score is 1.0
svm_confidence = svr_rbf.score(x_test, y_test)
print('svm confidence: ', svm_confidence)

svm confidence:  0.9995501803660342

In [ ]:
# Create and train the Linear Regression Model
lr = LinearRegression()
# Train the model
lr.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
#Testing Model: Score that returen s a coefficeient of determination R^2 of the prediction, note the best score is 1.0
lr_confidence = lr.score(x_test, y_test)
print('lr confidence: ', lr_confidence)

NameError: ignored

In [ ]:
# Set x_forecast equal to the last 30 rows of the original data fro Adj. close column
x_forecast = np.array(df.drop(['Prediction'],1))[-forecast_out:]
print(x_forecast)

[[168.34]]

In [ ]:
# Print linerar regression model predictions for "d" days
lr_prediction = lr.predict(x_forecast)
print(lr_prediction)
print('')
# Print support vector regressor model predictions for "d" days
svm_prediction = svr_rbf.predict(x_forecast)
print(svm_prediction)

[168.44352382]

[167.75224957]